################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/Properties/launchSettings.json
/server/server.csproj
server/appsettings.json
server/appsettings.json
