################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/Properties/launchSettings.json
/server/server.csproj
/server/**/bin/
/server/**/obj/
/server/appsettings.json
server/appsettings.json
server/appsettings.json
server/appsettings.json
