<div class="flex gap-2 pb-2 text-[var(--sub-color)] ">
    <fa-icon [icon]="['fas', 'arrow-right-to-bracket']"></fa-icon>
    <h2>log in</h2>
</div>
<form class="flex flex-col gap-y-1" (ngSubmit)="submitLogin()">
    <div class="flex w-72 items-center justify-between">
        <button type="button"
            class="hover:cursor-pointer flex justify-center items-center  text-[var(--text-color)] bg-[var(--sub-alt-color)] border-none hover:bg-[var(--text-color)] hover:text-[var(--sub-alt-color)] flex gap-1 w-34 rounded-md h-9"
            (click)="signInWithGithub()">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
        </button>
        <button type="button"
            class="hover:cursor-pointer flex justify-center items-center text-[var(--text-color)] bg-[var(--sub-alt-color)] border-none hover:bg-[var(--text-color)] hover:text-[var(--sub-alt-color)] flex gap-1 w-34 rounded-md h-9"
            (click)="signInWithGoogle()">
            <fa-icon [icon]="['fab', 'google']"></fa-icon>
        </button>
    </div>
    <div class="divider text-[var(--sub-alt-color)] before:opacity-100 after:opacity-100">
        <span class="text-[var(--text-color)]">or</span>
    </div>
    <input type="email" placeholder="Email"
        class="input rounded-md input- w-72 max-w-md text-[var(--text-color)] bg-[var(--sub-alt-color)] border-none"
        [(ngModel)]="userInfo.email" name="email" required>
    <input type="password" placeholder="Password"
        class="input rounded-md input- w-72 max-w-md text-[var(--text-color)] bg-[var(--sub-alt-color)] border-none"
        [(ngModel)]="userInfo.password" name="password" required>
        <div class="flex gap-1">
            <input type="checkbox" id="rememberMe" class="checkbox checkbox-sm text-[var(--caret-color)] bg-[var(--sub-alt-color)] border-none" [(ngModel)]="userInfo.rememberMe" name="rememberMe">
        <label for="rememberMe" class="text-[var(--sub-color)]">remember me</label>
        </div>
        
    <button type="submit"
        class="btn text-[var(--text-color)] rounded-md  bg-[var(--sub-alt-color)] border-none hover:bg-[var(--text-color)] hover:text-[var(--sub-alt-color)] hover:cursor-pointer flex gap-1 w-72">
        <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>
        <span>sign in</span></button>
</form>