<div class="w-full h-full">
    <div class="pt-8 flex items-center justify-center">
        @if (!isGameActive || isGameStale) {
            <app-navbar (gameSettingsChange)="onGameSettingsChange($event)"></app-navbar>
        }
    </div>
    
    <div class="pt-24">
        @if (gameSettings.middleKey  === 'time' && isGameActive && !isGameStale) {
        <app-gameclock 
        [startTime]="pausedGameTime ?? gameTime"
         [canStartTimer]="canStartTime" 
         [isGameStale]="isGameStale"
         (pausedGameTimeChange)="onPausedGameTimeChange($event)"
         (timeOut)="onTimeOut()"
        />
    }
        <app-gameboard
            [text]="textWall"
            [externalGameEnd]="externalGameEnd"
            (gameStats)="onGameStats($event)"
            (isGameActiveChange)="onIsGameActiveChange($event)"
            (isGameStaleChange)="onIsGameStaleChange($event)"
            (gameStart)="onGameStart()"
            (gameEnd)="onGameEnd()"
        />
    </div>
</div> 